* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
h1 {
  color: #93a1a1;
  size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
  text-shadow: 2px 3px 5px red;
}
div {
  margin-left: 50px;
}

ul {
  color: #93a1a1;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 3em;
}
